<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

    <%= f.text_field :title %>
    <%= f.text_field :image_url%>
    <%= f.text_field :proposal%>
    <%= f.text_field :terget%>
    <%= f.text_field :want_to%>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
