<%= render 'shared/header.html.erb' %>

<div style="text-align: center">
  <%= link_to '#' do %>
    <%= image_tag('good_site_example_1.png') %>
  <% end %>
</div>

<div style="text-align: center">
  <%= link_to '#' do %>
    <%= image_tag('good_site_example_2.png') %>
  <% end %>
</div>

<div style="text-align: center">
  <%= link_to '/designers/show' do %>
    <%= image_tag('good_site_example_3.png') %>
  <% end %>
</div>
